{% extends 'base.html' %}

{% block title %} Управление концертами - {{ super() }}{% endblock %}

{% block content %}
    <div class="container my-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('profile') }}">Профиль</a>
                </li>
                <li class="breadcrumb-item active">Управление концертами</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-header bg-info text-white d-flex justify-content-between align-items-center">
                <h4><i class="fa fa-list"></i> Управление концертами</h4>
                <a href="{{ url_for('add_concert') }}" class="btn btn-light btn-sm">
                    <i class="fa fa-plus"></i> Добавить концерт
                </a>
            </div>
        </div>
    </div>
{% endblock %}